.circleLink {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #44c8da;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    line-height: 0;
    cursor: pointer;
    margin-bottom: 2rem;
}
.moreBtn {
    position: relative;
    .inner {
        width: 35px;
        height: 35px;
        position: absolute;
        top: -10px;
        left: 100%;
        background-image: url("/src/assets/images/right_arrow.png");
        &:hover {
          background-image: url("/src/assets/images/right_arrow_hover.png");
        }
      }
}