.login_move_link{
  margin-top: 60px;
  margin-left: 45%;
  .move_word{
    color: #64c2c9;
    vertical-align: bottom;
  }
  div{
    display: inline-block; 
  }
}

.login_rightside{
  margin-left: 20px;
  p{
    font-size: 20px; 
    color: #7facaf; 
  }
}