.membermodify{

  .memberdata{
    width: 100%;
    height: 650px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 3px #ccc;
    border:1px #ccc solid;
  }
  
  .input_title{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bolder;
    color: #787878;
  }

  .social_connect{
    line-height: 57px;
  }

}

