.select_area{
  height: 40px;
  background-color: #f1f1f1f1;
  border: 0px;
  border-radius: 0%;
  width: 50%;
}

.input_area{
  height: 40px;
  background-color: #f1f1f1f1;
  border: 0px;
  border-radius: 0%;
  width: 98%;
  margin: auto;
  padding-left: 25px;
  font-weight: bolder;
  color: #b7b7b7;
}

.input_title{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: bolder;
  color: #397e83;
}

.register_checkbox{
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 30px;
  width: 290px;
  height: 45px;
  line-height: 50px;
  background-color: #e0e1de;
  font-weight: bolder;
  .form-check-input{
    margin-top:15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}


.mycart_checkbox{
  margin-bottom: 80px;
  width: 290px;
  height: 45px;
  line-height: 50px;
  font-weight: bolder;
  .form-check-input{
    margin-top:15px;
    margin-left: 10px;
  }
}

.cart_context{
  color: #397e83;
  width: 280px;
  align-items: center;
  .cart_title{
    text-align: center;
    
   
    h5{
      padding-bottom: 20px;
      border-bottom: #397e83 1px solid;
      margin-bottom: 15px;
      font-weight: bolder;
      font-size: 26px;
    }
  }
}

.ordercard{
  padding-top: 30px;
  height: 340px;
  box-shadow: 0 0 3px;
}