.toprow{
  flex-wrap: wrap;
  justify-content: space-between;
  .video_card{
    h5{
      margin-top: 20px;
      color: #397e83;
    }
  }
}


.trirow{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 55px;
  .video_card{
    h5{
      margin-top: 20px;
      color: #397e83;
    }
  }
}