.workmetlist_item{
  width: 250px;
  height: 345px;
  border-radius: 125px;
  margin-bottom: 35px;
  border: 1px #64c2c9 solid;
  position: relative;
  align-items: center;

  &:hover{
    background-color: #64c2c9;
    color: white;
  }

  .fig{
    position:absolute; 
    top:0; 
    right:0; 
    left:0; 
    bottom:0; 
    margin:auto;
    width: 165px;
    height: 197px;
  }
  .context{
    margin-top: 16px;
    padding-left: 6px;
    padding-right: 6px;
   
    h5{
      font-weight: bolder;
    }
  }
  .circle{
    position: absolute;
    top:319px;
    left:103px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: white;
  }

  .inner{
    width: 35px;
    height: 35px;
    position: absolute;
    top:320px;
    left:105px;
    margin-right: 6px;
    background-image: url('/src/assets/images/right_arrow.png');
    &:hover{
      background-image: url('/src/assets/images/right_arrow_hover.png');
    }
  }

  .topic{
    font-weight: bolder;
    margin-top: 282px;
    text-align: center;

  }

}



