.metDescript{
  width: 50%;
  margin-top: 53px;
  margin-left: 20px;
}

.descript .p-color{

  color: #64c2c9;
}
.met_photo{
  width: 285px;
  height: 337px; 
  margin-bottom: 35px; 
  border-radius: 40px; 
  margin: 10px;
}

.field_title{
  width: 95%;
  border-bottom: solid 3px #ffe66f;
  color: #67c0c8;
  font-weight: bolder;
  margin-bottom: 15px;
  margin-top: 10px;
}



