@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/maps";
@import "./helpers/utilities";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import "./pages/index";
@import "./pages/about";
@import "./pages/download";
@import "./pages/participate";
@import "./pages/grouplife";
@import "./pages/registerterms";
@import "./pages/bless";
@import "./pages/newannounce";
@import "./pages/announceinner";
@import "./pages/priestlist";
@import "./pages/friends";
@import "./pages/courses";
@import "./pages/mycart";
@import "./pages/onlinecourse";
@import "./pages/onlinecourse";
@import "./pages/login";
@import "./pages/contactus";
@import "./pages/coursepayed";
@import "./pages/joinmember";
@import "./pages/membermodify";
@import "./pages/orderinquire";
@import "./pages/activity";
@import "./pages/resource";

* {
  font-family: "Barlow", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a {
  text-decoration: none;
}
.active {
  font-weight: bold;
}
.titleEN {
  font-size: 3rem;
  display: flex;
  .title {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 1rem;
  }
}
.desText {
  font-size: 0.7rem;
  color: $primary;
}
.navbar {
  position: relative;
  height: 86px;
}

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
}

.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 5%;
  margin: 0;
}
.logo {
  position: absolute;
  top: -30%;
  left: 5%;
  z-index: 2;
  img {
    max-width: 230px;
    object-fit: cover;
  }
}
.nav-link {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1;
}
.nav-link:hover {
  border-bottom: 3px solid #ffe66f;
  border-left: 2px solid #ffe66f;
  padding-left: 0.7rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -10%;
    border: 1px solid #ffe66f;
    width: 18px;
  }
}
.navTitleEn {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.navIcon {
  width: 19px;
  height: 19px;
  margin-right: 0.5rem;
}

.navbarIcons {
  position: absolute;
  right: 16%;
  top: 2%;
}
//navbarIcons RWD 平板
@media (max-width: 1300px) {
  .navbarIcons {
    position: absolute;
    right: 12%;
    top: 2%;
  }
}
@media (max-width: 1200px) {
  .navbarIcons {
    position: absolute;
    right: 9%;
    top: 2%;
  }
}
@media (max-width: 996px) {
  .navbarIcons {
    position: absolute;
    right: 5%;
    top: 2%;
  }
}

.footerInfo {
  margin-top: -10rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerPageBg {
  position: relative;
  overflow: hidden;
  .bg-left {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 15%;
    z-index: -1;
  }
  .bg-right {
    position: absolute;
    bottom: -15%;
    right: -25%;
    width: 40%;
    z-index: 999;
  }
}
.socialMediaIcon {
  width: 25px;
  height: 25px;
}

.contentTitle {
  max-width: 100%;
  height: 43px;
  background-color: #64c2c9;
  padding: 13px;
  padding-left: 20px;
  color: #ffffff;
  margin-bottom: 35px;
}

.item_conainer {
  justify-content: space-between;
}

.yearPull {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 22px;
  color: #64c2c9;

  div {
    width: 12%;
    border-bottom: #64c2c9 3px solid;
  }
}

.pagging {
  margin-top: 80px;
  margin-bottom: 80px;
  float: right;
  .paging_word {
    margin-right: 5px;
    text-align: center;
    justify-items: center;
    line-height: 45px;
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
  div {
    display: inline-block;
  }
  a {
    color: #6c6b6b;
    &:hover {
      color: #000000;
    }
  }
}

.font_bolder {
  font-weight: bolder;
}

.move_link {
  margin-top: 30px;
  float: right;
  cursor: pointer;
  .move_word {
    color: #64c2c9;
    vertical-align: bottom;
  }
  div {
    display: inline-block;
  }
}

.innerPageFooter {
  background-image: url(../images/innerPageFooterBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  position: relative;
  z-index: -999;
}


.scroll-to-top {
  position: fixed;
  bottom: 60px;
  right: 100px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(../images/backtopBtn.png);
  cursor: pointer;
  z-index: 999;
  &:hover {
    box-shadow: 0 1px 6px 4px rgba(155, 155, 155, 0.3);
  }
}

.inner {
  width: 35px;
  height: 35px;
  margin-right: 6px;
  background-image: url("/src/assets/images/right_arrow.png");
  &:hover {
    background-image: url("/src/assets/images/right_arrow_hover.png");
  }
  background-repeat: no-repeat;
}

// 下拉選單樣式
.yearSelect {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #64c2c9;
  background-color: #ffffff;
  padding-left: 10px;
  color: #64c2c9;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #000000;
  }
}

.lsTitle {
  text-align: center;
  width: 145px;
  height: 30px;
  border-bottom: solid 5px #fee66e;
  margin: auto;
  color: #67c0c8;
  font-weight: bold;
  font-size: 1.2rem;
}

.lsContent {
  text-align: center;
  margin: auto;
  width: 120px;
  height: 30px;
  color: #7a7a7a;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: solid 1px #7a7a7a;
  padding-bottom: 0px;
}